@keyframes ks-icon-spin {
  to {
    transform: rotate(360deg);
  }
}

.ks-icons {
  position: absolute;
  display: none;
  transform: translate(-100%, -100%);
}

.ks-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  color: currentColor;
  vertical-align: -2px;
  font-style: normal;
  transition:
    color 300ms var(--ks-icon-ease, ease-in),
    background 300ms var(--ks-icon-ease, ease-in);
}
